<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-3 col-sm-3" role="complementary">
      <nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs affix">
        <ul class="nav bs-sidenav">
          <li>
            <a href="#/user-guide#introduction">Introduction</a>
            <ul class="nav">
              <li>
                <a href="#/user-guide#background">Background</a>
              </li>
              <li>
                <a href="#/user-guide#motivation">Motivation</a>
              </li>
              <li>
                <a href="#/user-guide#related-work">Related Work</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#/user-guide#principle">Principle</a>
            <ul class="nav">
              <li>
                <a href="#/user-guide#basic-idea">Basic Idea</a>
              </li>
              <li>
                <a href="#/user-guide#concepts">Concepts</a>
              </li>
              <li>
                <a href="#/user-guide#work-flow">Work Flow</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#/user-guide#usage">Usage</a>
            <ul class="nav">
              <li>
                <a href="#/user-guide#example1">Example 1</a>
              </li>
              <li>
                <a href="#/user-guide#example2">Example 2</a>
              </li>
              <li>
                <a href="#/user-guide#example3">Example 3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#/user-guide#references">References</a>
            <ul class="nav">
              <li>
                <a href="#/user-guide#formal-ref">Formal References</a>
              </li>
              <li>
                <a href="#/user-guide#informal-ref">Informal References</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-md-9 col-sm-9" role="main">
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="introduction">Introduction</h1>
        </div>
        <p class="lead">TODO: writing analyzer</p>

        <h3 id="background">Background</h3>
        <p>TODO: writing analyzer</p>

        <h3 id="motivation">Motivation</h3>
        <p>TODO: writing analyzer</p>

        <h3 id="related-work">Related Work</h3>
        <p>TODO: writing analyzer</p>
      </div>
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="principle">Principle</h1>
        </div>
        <p class="lead">TODO: writing analyzer</p>

        <h3 id="basic-idea">Basic Idea</h3>
        <p>TODO: writing analyzer</p>

        <h3 id="concept">Concept</h3>
        <p>TODO: writing analyzer</p>

        <h3 id="work-flow">Work Flow</h3>
        <p>TODO: writing analyzer</p>
      </div>
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="usage">Usage</h1>
        </div>
        <p class="lead">TODO: writing analyzer</p>

        <h3 id="example1">Example 1</h3>
        <p>TODO: writing analyzer</p>

        <h3 id="example2">Example 2</h3>
        <p>TODO: writing analyzer</p>

        <h3 id="example3">Example 3</h3>
        <p>TODO: writing analyzer</p>
      </div>
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="references">References</h1>
        </div>
        <p class="lead">TODO: writing analyzer</p>

        <h3 id="formal-ref">Formal References</h3>
        <p>TODO: writing analyzer</p>

        <h3 id="informal-ref">Informal References</h3>
        <p>TODO: writing analyzer</p>
      </div>
    </div>
  </div>
</div>
